@media screen and (max-width:1400px) {
    #profile{
        height: 83vh;
        margin-bottom: 6rem;
    }
    .about-cont{
        flex-wrap: wrap;
    }
}

@media screen and (max-width:1200px) {
    #dekstop-nav{
        display: none;
    }
    #ham-nav{
        display: flex;
    }
    #exp, .exp_det_cont{
        margin-top:2rem ;
    }
    #profile,
    .section-container{
        display: block;
    }
    .arrow{
        display: none;
    }
    section, .section-container{
        height: fit-content;
    }
    section{
        margin: 0 5%;
    }
    .section__pic-cont{
        width: 75px;
        height: 75px;
        margin: 0 auto 2rem;
    }
    .about-cont{
        margin-top: 0;
    }
}

@media screen and (max-width:600px) {
    #contact, footer{
        height: 40vh;
    }
    #profile{
        height: 83vh;
        margin-bottom: 0;
    }
    article{
        font-size: 1rem;
    }
    footer nav{
        height: fit-content;
        margin-bottom: 2rem;
    }
    .about-cont,
    .cont_info_upper_cont,
    .btn-cont{
        flex-wrap: wrap;
    }
    .cont-info-cont{
        margin: 0;
    }
    .cont-info-cont p,
    .nav-links li a{
        font-size: 1rem;
    }
    .exp_subt{
        font-size: 1.25rem;
    }
    .logo{
        font-size: 1.5rem;
    }
    .nav-links{
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }
    .section__pic-cont{
        width: auto;
        height: 46vw;
        justify-content: center;
    }
    section__text__p2{
        font-size: 1.25rem;
    }
    .title{
        font-size: 2rem;
    }
    .text-cont{
        text-align: justify;
    }
}
@media (max-width: 767px) {
    .cont-info-upper-cont {
        flex-direction: column;
        align-items: center;
    }

    .cont-info-cont {
        margin-bottom: 20px; /* Add some margin between each contact info block */
    }
}
